Babel
chardet
cryptography
decorator
docutils
ebaysdk
freezegun
gevent
greenlet
idna
Jinja2
libsass
lxml
MarkupSafe
num2words
ofxparse
passlib
Pillow
polib
psutil
psycopg2-binary
psycopg2
pydot
pyopenssl
PyPDF2
# pypiwin32 
pyserial
python-dateutil
# python-ldap
python-stdnum
pytz
pyusb
qrcode
reportlab
requests
urllib3
vobject
wheel
Werkzeug
xlrd
XlsxWriter
xlwt
zeep
